@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #0f172a;
  color: #f1f5f9;
  font-family: ui-sans-serif, system-ui, sans-serif;
}

/* mapbox-gl-draw cursor */
.mapboxgl-canvas-container.mapboxgl-interactive {
  cursor: crosshair;
}
.mapboxgl-canvas-container.mapboxgl-interactive.draw-mode-simple_select {
  cursor: grab;
}
